.verify_pass{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
/* .verify_pass{
    display: flex;
    justify-content: center;
    margin: 1%;
} */
.verify_pass_form{
    width: 35%;
    justify-content: center;
}

.verify_otp_form{
    justify-content: center;
    padding: 5px;
}


@media screen and (max-width: 1246px) {
    .verify_pass_form{
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .verify_pass_form{
        width: 60%;
    }
}
@media screen and (max-width: 570px) {
    .verify_pass_form{
        width: 70%;
    }
}
@media screen and (max-width: 570px) {
    .verify_pass_form{
        width: 80%;
    }
}
