.unverified{
    color: red;
    margin: 0;
    /* justify-content: flex-start; */
}
.maincard{
    margin: 5px;
}
.link_tag{
    color: blue;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}